/*html, #root {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: #2f496e !important;
}*/

html {
  height: -webkit-fill-available; /* We have to fix html height */
}

body, #root {
  min-height: -webkit-fill-available;
  min-height: 100vh;
}

body {
  background-color: #2f496e !important;
}
